[run]
branch = True
source = .

[report]
exclude_lines =
    pragma: no cover

omit =
    tests/*
    core/ahorcadoapp.py

[paths]
source =
    .
    */site-packages/

[coverage:report]
omit =
    features/steps/test_steps.py
