<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ahorcado</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon-32x32.png') }}"
      type="image/x-icon"
    />
    <!-- Fuente de la pagina -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="containerhome">
      <div>
        <h1>Elige el nivel de dificultad</h1>
      </div>
      <hr class="barra-horizontal" />
      <div class="buttombox">
        <form action="{{ url_for('iniciar_juego', nivel='facil') }}">
          <button type="submit">Nivel fácil</button>
        </form>
        <form action="{{ url_for('iniciar_juego', nivel='media') }}">
          <button type="submit">Nivel media</button>
        </form>
        <form action="{{ url_for('iniciar_juego', nivel='dificil') }}">
          <button type="submit">Nivel difícil</button>
        </form>
      </div>
    </div>
  </body>
</html>
