<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Ahorcado</h1>
            <p><strong>Ayuda:</strong> {{ pista }}</p>
            <p><strong>Palabra:</strong> {{ palabra_a_mostrar }}</p>
            <p><strong>Vidas restantes:</strong> {{ intentos_restantes }}</p>
            <p><strong>Letras usadas:</strong> {{ ", ".join(letras_usadas) }}</p>
            
            {% if not juego_finalizado %}
                <form action="{{ url_for('intentar') }}" method="post">
                    <label for="letra">Introduce una letra:</label>
                    <input type="text" id="letra" name="letra" maxlength="1" required required pattern="[a-zA-Z]" title="Por favor, introduce solo una letra">
                    <button type="submit">Arriesgar letra</button>
                </form>
                <form action="{{ url_for('intentarP') }}" method="post">
                    <label for="palabraA">Introduce una Palabra:</label>
                    <input type="text" id="palabraA" name="palabraA" maxlength="{{long}}" required required pattern="^[a-zA-Z]+$" title="Por favor, introduce solo una palabra">
                    <button type="submit">Arriesgar Palabra</button>
                </form>
            {% else %}
                <p><strong>El juego ha terminado.</strong></p>
                {% if palabra_a_mostrar.replace(" ", "") == palabra_adivinada or palabra_adivinada.replace(" ","") == pal_arriesgada.replace(" ","")%}
                <p><strong>¡Felicidades {{ nombre_usuario }}, has ganado!</strong></p>
                {% else %}
                    <p><strong>Lo siento, has perdido. La palabra era "{{ palabra_adivinada }}".</strong></p>
                {% endif %}
                <a href="{{ url_for('reiniciar') }}">Reiniciar</a>
            {% endif %}
        </div>
        <div class="image-container">
            {% if not juego_finalizado %}
                <img src="{{ img }}" alt="Imagen del Juego">
            {% else %}
                {% if palabra_a_mostrar.replace(" ", "") == palabra_adivinada or palabra_adivinada.replace(" ","") == pal_arriesgada.replace(" ","")%}
                    <div class="image-container">
                        <img src="static\img\dubi.jpg" alt="Imagen Fija">
                    </div>
                {% else %}
                    <div class="image-container">
                        <img src="static\img\MBAPPELOSE.jpg" alt="Imagen Fija">
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    
</body>
</html>
